$primary-color: rgba(43, 80, 237, 1);
$secondary-color: rgba(40, 74, 217, 1);
$disabled-color: rgba(233, 236, 240, 1);
$background-color: rgba(243, 245, 248, 1);
$foreground_color: rgba(124, 135, 147, 1);
$container-color: rgba(252, 252, 253, 1);
$foreground-secondary-color: rgba(193, 201, 212, 1);
