/* You can add global styles to this file, and also import other style files */
@import './assets/css/shared/variables';
@import './assets/css/components/navbar';

body {
    padding: 0;
    margin: 0;
    /* background-color: $background-color; */
    // background-image: url("/assets/images/dashboard2.png");
    background-size: cover;
}
